node-red.json
[
    {
        "id": "46c740378cd3d37a",
        "type": "tab",
        "label": "HIVEMQ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5df21b621a6f8629",
        "type": "mqtt in",
        "z": "46c740378cd3d37a",
        "name": "",
        "topic": "esp8266/dht11",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ed96e13f2437c5eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "ae61791d1e154a99",
                "f5293b6d9a0ccc1d",
                "28377370eca6d579"
            ]
        ]
    },
    {
        "id": "ae61791d1e154a99",
        "type": "debug",
        "z": "46c740378cd3d37a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "7630957dc7bdb79b",
        "type": "ui_gauge",
        "z": "46c740378cd3d37a",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 3,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "f5293b6d9a0ccc1d",
        "type": "function",
        "z": "46c740378cd3d37a",
        "name": "function 1",
        "func": "var temp = Math.round(msg.payload.temperature * 10) / 10\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "7630957dc7bdb79b",
                "0fa94cbb43bcef1c"
            ]
        ]
    },
    {
        "id": "28377370eca6d579",
        "type": "function",
        "z": "46c740378cd3d37a",
        "name": "function 2",
        "func": "var temp = msg.payload.humidity\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "4658155b24d86e74",
                "2d9cc4c4f6cdad31"
            ]
        ]
    },
    {
        "id": "4658155b24d86e74",
        "type": "ui_gauge",
        "z": "46c740378cd3d37a",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 5,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Độ ẩm",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "0fa94cbb43bcef1c",
        "type": "ui_chart",
        "z": "46c740378cd3d37a",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 16,
        "width": 10,
        "height": 4,
        "label": "Đồ thị nhiệt độ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2d9cc4c4f6cdad31",
        "type": "ui_chart",
        "z": "46c740378cd3d37a",
        "name": "",
        "group": "a56f8967af78bfb3",
        "order": 17,
        "width": 10,
        "height": 4,
        "label": "Đồ thị độ ẩm",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#c91d1d",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "911926cfcdadb358",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 1,
        "width": 20,
        "height": 1
    },
    {
        "id": "dca5891bfb1cbbc5",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "956240a5cce3afc1",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "07e28ceda6f6b28c",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "5ab6180d20ada506",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "ca20692b2d03e870",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "bd29d7dd63668f8d",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "12862b56317eabcd",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "127e82c02a9f4d0a",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "3317c1bea05c4dc3",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "9f80f64055cf8fea",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "a537d51f280928c0",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "545731d9ab60959c",
        "type": "ui_spacer",
        "z": "46c740378cd3d37a",
        "name": "spacer",
        "group": "a56f8967af78bfb3",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "ed96e13f2437c5eb",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "21b590631990418a8aafadd998ea2c2b.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a56f8967af78bfb3",
        "type": "ui_group",
        "name": "THÔNG TIN NHIỆT ĐỘ, ĐỘ ẨM",
        "tab": "8ff4928f3ec236aa",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ff4928f3ec236aa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]